/*color : 회보 #A7A5AD, 칠판색 #527673, 진녹 #193735*/
#prof {width: 100%; min-width: 1024px; height: 800px; background-color: #a7a5ad; display: flex; flex-direction: row; justify-content: space-evenly; align-items: center;}

#prof .profile {width: 550px; height: 650px;}
#prof .profile strong {color: #527673;}
#prof .name ul {display: flex; flex-direction: row; justify-content: space-between; padding: 5px;}

#prof .movie {display: flex; flex-direction: row; justify-content: space-between;  padding: 5px;}
#prof .movie ul{padding-top: 10px;}

#prof .drama {display: flex; flex-direction: row; justify-content: space-between;  padding: 5px;}
#prof .drama ul {padding-top: 10px;}

#filmo {max-width: 1600px; margin:0 auto; padding-top: 50px; display: grid; grid-gap: 10px; grid-template-rows: auto auto auto; grid-template-columns: 300px 300px 300px 300px; justify-content: space-evenly;}
.box:hover .content {transform: translate(0, 3.5rem);}
.box:hover .imgbox {transform: translate(0,-3.5rem);}
.imgbox {transition: all 0.5s ease-in-out;}
.content {position: relative; bottom: 100px; text-align: center; transition: 0.5s ease-in-out;z-index: -1;}
.content span {color: #a7a5ad;}