/*color : #A7A5AD, #527673, #193735*/
* {padding: 0; margin: 0; box-sizing: border-box; color: #193735; font-family: 'Noto Sans KR', sans-serif;}
li {list-style: none;}
a {text-decoration: none;}

/*hamberger-menu*/
.menu {height: 50px; width: 50px; position: fixed; top: 40px; left: 25px; z-index: 51; cursor: pointer; }
.hamberger-menu {--height: 5px; height: 5px; width: 100%; background-color: #527673; border-radius: calc(var(--height)); position: relative; transform: rotate(0deg); transition: all ease 0.5s;}
.hamberger-menu::before,
.hamberger-menu::after {content: ""; position: absolute; background-color: inherit; height: 100%; width: 50%; margin: auto; border-radius: inherit; transition: all ease 0.5s;}
.hamberger-menu::before {top: -10px; left: 0; transform-origin: left;}
.hamberger-menu::after {bottom: -10px; right: 0; transform-origin: right;}
.open {transform: rotate(135deg);}
.open::before {top: 0; transform: translateX(100%) rotate(-90deg);}
.open::after {bottom: 0; transform: translateX(-100%) rotate(-90deg);}

.nav {width: 100%; height: 100%; background-color: #A7A5AD; position: fixed; z-index: 50; transition: 0.5s; display: none;}
.gnb {position: relative; top: 25%; right: 30%; width: 100%; text-align: center; cursor: pointer; text-transform: uppercase;}
.gnb li {font-size: 36px; display: block; transition: 0.3s; margin: 30px 0; font-weight: 800; letter-spacing: 5px;}
.gnb a{display: inline-block; position: relative;}

.gnb a::before {transform: scaleX(0); transform-origin: bottom right;}
.gnb a:hover::before {transform: scaleX(1); transform-origin: bottom left;}
.gnb a::before {content: " "; display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; inset: 0 0 0 0; background: rgba(82, 118, 115,0.5); z-index: -1; transition: transform .3s ease;}

#hjy {width: 700px; position: absolute; top:0; right: 0;}

footer {width:90%; height: 100px; margin: 0 auto;}
#copy {float: left; padding-left: 15px; margin-top: 65px;}
.jysns {float: right; margin-top: 40px;}
.jysns i{font-size: 30px; padding: 15px;}


