/*color : #A7A5AD, #527673, #193735*/

/*Award*/
.awardbg {width: 100%; height: 800px; background-color: #A7A5AD; margin-top: -50px;}
#award{width:100%; min-width:1024px; height: 800px; margin: 0 auto; display: flex; align-items: center; justify-content:space-evenly;}
#award>h1 {font-size: 1em; line-height: 250%; color: #527673;}

/*gallery*/
#gall {width: 90%; margin: 0 auto; height: 1100px; max-width: 1000px;}
.g-wrap {float: left; width: 50%; padding: 10px;}
.g-wrap img {margin-top: 12px;}
#gall::after{content: ""; clear: both; display: block;}


button.g-btn.btn, .g-btn1.btn{position: relative; top:20px; left: 0; right: 0; margin: auto;}
.g-btn,.g-btn1 {position:relative; width: 200px; height: 55px; display: flex; font-size: 1em; text-align: center; cursor: pointer; justify-content: center;}
.g-btn::before {background-color: #527673; transition: 0.5s ease-out; position: absolute; content: "";}
.btn::before {top: 0; bottom: 0; left: 0; height: 100%; width: 0%; position: absolute; content: "";}
.btn:hover::before {width: 100%; position: absolute; content: "";}
.btn span {position:relative; transition: 0.2s; width: 200px; height: 55px; display: block; line-height: 50px; border: none;}
.btn span:hover {transition: 0.2s 0.1s; outline: 0!important; outline-offset: 0; color: #fff;}

.filmo {width: 100%; height: 400px; margin: 0 auto; background-color: #527673;}
.poster {width: 90%; height: 300px; margin: 0 auto; position: relative; display: flex; justify-content: space-around; align-items: center;}
.img {position: relative; line-height: 0;}
.imgbg {position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: rgb(82, 118, 115); opacity: 0; transition: 0.5s;}
.imgbg a {display: block; text-align: center; line-height: 190px; color: #fff; font-size: 22px;}
.img:hover .imgbg{opacity: 1; transition: 0.5;}

.g-btn1::before {background-color: #A7A5AD; transition: 0.5s ease-out; position: absolute; content: "";}