/*color : #A7A5AD, #527673, #193735*/
section #newsbg {width: 90%; height: 1000px; position: relative; margin: 0 auto;}
section #newsbg::before{content:""; display: block; width:100%; height:100%; margin:0 auto; position:absolute; top: 0; left: 0; background-image: url("../images/bg.jpg"); background-size: cover; z-index: -1; opacity: 0.5;}
section h1 {opacity: 1; position: relative; top:8%; left: 11%; padding: 10px; font-size: 2.5rem; width: 200px; height: 100px; display: block;}
section #news {width: 80%; height: 875px; margin: 0 auto;}

#news ul {padding: 50px 0;}
#news li {width: 85%; height: 75px; margin: 30px auto; background-color: #fff;}
#news li a {font-size: 16px; line-height: 75px; padding-left: 15px; float: left;}
#news li a:hover {text-underline-position: under; text-decoration: underline  solid 2px #527673;}
#news span {float: right; line-height: 75px; padding-right: 15px; font-size: 15px;}

#sns {width: 90%; margin: 0 auto; padding-top: 100px;}
.snswrapper {height: 400px;}
.heart {width: 100px; height: 100px; position: absolute; left: 50%;  top: 50%; transform: translate(-50%, -50%);
    background: url(https://cssanimation.rocks/images/posts/steps/heart.png) no-repeat;
    background-position: 0 0; cursor: pointer; animation: fave-heart 1s steps(28); display: none;}
.owl-carousel .item:hover .heart{display: block;}
.heart:hover {background-position: -2800px 0; transition: background 1s steps(28);}

    @keyframes fave-heart {
    0% {background-position: 0 0;}
    100% {background-position: -2800px 0;}}